.chat-sender {
    display: inline-block;
    color: rgb(42, 0, 255);
}

.chat-sender-self {
    display: inline-block;
    text-align: left;
    color: rgb(0, 128, 64);
}

.id {
    color: #579ffb;
}

.chat-image {
    max-width: 200px;
}

.chat-block {
    position: relative;
    left: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(229, 227, 225);
    padding: 10px;
    min-height: 16px;
    width: fit-content;
    word-break: break-all;
}

.chat-block-self {
    text-align: left;
    position: relative;
    left: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(18, 183, 245);
    padding: 10px;
    min-height: 16px;
    width: fit-content;
    word-break: break-all;
}


.chat-sender-head {
    display: inline-block;
    vertical-align: auto;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}

.face {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}