{% macro quote_message(sender_id) %}
    回复 <span class="id">{{ sender_id }}</span>：
{% endmacro %}

{% macro inner_forward_message(message, use_image_proxy) %}
    <div class="element-forward">
        {%- for i in message -%}
            {%- if i.type == "Plain" -%}
                {{ i.text }}
            {%- elif i.type == "Source" -%}
                <!-- Source Message Type -->
            {%- elif i.type == "Image" -%}
                {% if use_image_proxy %}
                    <img src="/image_proxy?url={{ i["url"] }}" alt="图片" class="chat-image">
                {% else %}
                    <img src="{{ i["url"] }}" alt="图片" class="chat-image">
                {% endif %}
            {%- elif i.type == "At" -%}
                <span>@</span><span class="id">{{ i["target"] }}</span>
            {%- elif i.type == "Quote" -%}
                {{ quote_message(i.sender_id) }}
            {%- elif i.type == "Face" -%}
                <img class="face" src="/face/{{ i.face_id }}.png" alt="{{ i.display }}">
            {%- elif i.type == "MarketFace" -%}
                {{ i.display }}
            {%- elif i.type == "Xml" -%}
                {{ i.display }}<br>
                {{ i.xml }}
            {%- elif i.type == "ison" -%}
                {{ i.display }}<br>
                {{ i.ison }}
            {%- elif i.type == "App" -%}
                {{ i.display }}<br>
                {{ i.content }}
            {%- elif i.type == "MusicShare" -%}
                {{ i.display }}
            {%- elif i.type == "Dice" -%}
                {{ i.display }}
            {%- elif i.type == "File" -%}
                {{ i.display }}
            {%- elif i.type == "Forward" -%}
                [合并转发]该消息不支持查看
            {%- else -%}
                {{ i.type }}<br>
                {{ i.display }}
            {%- endif %}
        {%- endfor %}
    </div>
{% endmacro %}