<!DOCTYPE html>
<html lang="zh" style="background-color: rgb(255,253,251)">
<head>
    <title>WabQQ({% if type == 'friend' %}好友:{{ friend_name }}{% elif type == 'group' %}群:{{ group_name }}){% endif %})</title>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <style>
        .chat-sender {
            color: rgb(42, 0, 255);
        }

        .id {
            color: #579ffb;
        }

        .chat-image {
            max-width: 200px;
        }

        .chat-block {
            position: relative;
            left: 24px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: rgb(229, 227, 225);
            display: inline-block;
            padding: 10px;
            min-height: 16px;
        }

        .chat-block .arrow {
            position: absolute;
            top: 6px;
            left: -16px;
            width: 0;
            height: 0;
            font-size: 0;
            border: solid 8px;
            border-color: rgb(229, 227, 225) rgb(229, 227, 225) rgb(255, 253, 251) rgb(255, 253, 251);
        }

        .chat-sender-self {
            text-align: left;
            color: rgb(0, 128, 64);
        }

        .chat-block-self {
            text-align: left;
            position: relative;
            left: 24px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: rgb(18, 183, 245);
            display: inline-block;
            padding: 10px;
            min-height: 16px;
        }

        .chat-block-self .arrow {
            position: absolute;
            top: 6px;
            left: -16px;
            width: 0;
            height: 0;
            font-size: 0;
            border: solid 8px;
            border-color: rgb(18, 183, 245) rgb(255, 253, 251) rgb(255, 253, 251) rgb(18, 183, 245);
        }
    </style>
</head>

<body>
{% if status == 'ok' %}

    {% if type == 'group' %}
        群：{{ group_name }}
    {% elif type == 'friend' %}
        好友：{{ friend_name }}
    {% endif %}

    <br>
    <a href="/qq">返回主页</a>

    <form method="post" action="/qq/send_{{ type }}_message/{% if type == 'group' %}{{ group_id }}{% elif type == 'friend' %}{{ friend_id }}{% endif %}">
        消息:<br>
        <label>
            <input type="text" name="message">
        </label>
        <br>
        <input type="submit" value="发送">
    </form>

    {% if messageContainer_list|length == 0 %}
        暂无缓存消息！
    {% else %}
        {% for i in messageContainer_list %}
                <div class="{% if i.sender_id != account %}chat-sender{% else %}chat-sender-self{% endif %}">{{ i.sender_name }}(<span class="id">{{ i.sender_id }}</span>) {{ i.time }}</div>
                <div class="{% if i.sender_id != account %}chat-block{% else %}chat-block-self{% endif %}">
                    <div class="arrow"></div>
                    {% for j in i.message %}
                        {% if j.type == "Plain" %}
                            {{ j.text }}
                        {% elif j.type == "Image" %}
                            {% if use_image_proxy %}<img src="/qq/image_proxy/{{ j["url"] }}" alt="图片" class="chat-image">{% else %}<img src="{{ j["url"] }}" alt="图片" class="chat-image">{% endif %}
                        {% elif j.type == "At" %}
                            @<span class="id">{{ j["target"] }}</span>
                        {% elif j.type == "Quote" %}
                            回复 {{ j["targetId"] }}
                        {% elif j.type == "Face" %}
                            {{ j.asDisplay() }}
                        {% elif j.type == "MarketFace" %}
                            {{ j.asDisplay() }}
                        {% elif j.type == "Xml" %}
                            {{ j.asDisplay() }}<br>
                            {{ j.xml }}
                        {% elif j.type == "Json" %}
                            {{ j.asDisplay() }}<br>
                            {{ j.Json }}
                        {% elif j.type == "App" %}
                            {{ j.asDisplay() }}<br>
                            {{ j.content }}
                        {% elif j.type == "MusicShare" %}
                            {{ j.asDisplay() }}
                        {% elif j.type == "Dice" %}
                            {{ j.asDisplay() }}
                        {% elif j.type == "File" %}
                            {{ j.asDisplay() }}
                        {% elif j.type == "Forward" %}
                            [合并转发]该消息不支持查看{{ j.type }}
                        {% else %}
                            {{ j.type }}<br>
                            {{ j.asDisplay() }}
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
        {% endfor %}
    {% endif %}

{% elif status == 'error' %}
    ERROR发生！您选择的好友/群聊可能不正确！<a href="/qq">返回主页</a>
{% endif %}

</body>

</html>