{% import "macro.jinja2" as macro %}
<!DOCTYPE html>
<html lang="zh" style="background-color: rgb(255,253,251)">
<head>
    <title>WapQQ({% if type == "friend" %}好友:{{ friend_name }}{% elif type == "group" %}群:{{ group_name }}){% endif %})</title>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <link rel="stylesheet" href="/resources/css/global.css">
</head>

<body>
{% if status == "ok" %}

    {% if type == "group" %}
        群：{{ group_name }}
    {% elif type == "friend" %}
        好友：{{ friend_name }}
    {% endif %}

    <br>
    <a href="/">返回主页</a>

    <form method="post" action="/send_{{ type }}_message/{{ id }}">
        <label for="message_front">消息:<br></label>
        <input type="text" id="message_front" name="message">
        <br>
        <input type="submit" value="发送">
    </form>

    {% if messageContainer_list|length == 0 %}
        暂无缓存消息！
    {% else %}
        {% for i in messageContainer_list %}
            <img class="chat-sender-head" src="https://q2.qlogo.cn/headimg_dl?dst_uin={{ i.sender_id }}&spec=100" alt="head">
            <div class="{% if i.sender_id != account %}chat-sender{% else %}chat-sender-self{% endif %}">
                {{ i.sender_name }}(<span class="id">{{ i.sender_id }}</span>) {{ i.time }}
            </div>
            <div class="{% if i.sender_id != account %}chat-block{% else %}chat-block-self{% endif %}">
                {{ macro.message(i.message, use_image_proxy) }}
            </div>
            <br>
        {% endfor %}
    {% endif %}
         <p>【<a href="/{{ type }}/{{ id }}">首页</a>|
            {% if page > 1 %}<a href="/{{ type }}/{{ id }}?page={{ page - 1 }}">上一页</a>|{% endif %}
            <span>第 {{ page }} 页|</span>
            {% if page < max_page %}<a href="/{{ type }}/{{ id }}?page={{ page + 1 }}">下一页</a>|{% endif %}
            <a href="/{{ type }}/{{ id }}?page={{ max_page }}">末页</a>】
         </p>
    <form method="post" action="/send_{{ type }}_message/{{ id }}">
        <label for="message_later">消息:<br></label>
        <input type="text" id="message_later" name="message">
        <br>
        <input type="submit" value="发送">
    </form>

{% elif status == "error" %}
    ERROR发生！您选择的好友/群聊可能不正确！<a href="/">返回主页</a>
{% endif %}

</body>

</html>